.carrossel {
    height: 300px;
    background-color: gray;
}

.produtosPrincipais {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 250px;
}

.produtosPrincipais .produto {
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
    width: 350px;
}


.camisas {
    height: 300px;
    background-color: gray;
}

.fixos {
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.container {
    text-align: center;
    margin: 0 2px;
}

.container .iconContainer {
    display: flex;
    padding: 0px 20px;
    justify-items: center;
    align-items: center;
}

.container .iconContainer h3 {
    font-size: large;
    color: #295FA6;

}

.container img {
    height: 50px;
}

.iconText {
    margin: 5px;
    padding: 5px;
}